.nav-link {
  padding-right: 7.5rem !important;
  padding-left: 7.5rem !important;
  font-size: x-large !important;
}


.section {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: justify;
}

.section-text {
  font-family: 'Belleza';
  font-size: 25px;
  color: #610000;
}

.footer {
  height: 150px;
  width: 100%;
  margin-top: 20px;
  bottom: 0px;
  background: #480006;
  text-align: center;
}

.footer-text {
  color: #d7af62;
  font-family: 'Belleza';
}

.popup-content {
  width: 700px;
  height: 200px;
  margin-left: auto;
  border-style: solid;
  margin-right: auto;
  border-radius: 15px;
  text-align: center;
}

.section-title-text {
  font-family: 'Great Vibes', cursive;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-size: 50px;
  margin-top: 50px;
  color: #D79B62;
}

.formContent {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.confirmationForm {
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  width: fit-content;
  display: grid;
  justify-items: center;
}

@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

.formField {
  width: 300px;
  margin-top: 20px;
  font-family: 'Belleza';
  color: #800000;
  border: none;
  border-bottom: solid;
  border-width: 1px;
  border-color: #000000;
}

.formField::placeholder {
  font-family: 'Great Vibes';
  font-size: 22px;
}

.holder {
  position: relative;
  background-color: #ffffff;
  left: 0%;
  margin-top: -20px;
  margin-bottom: 50px;
  width: 100%;
  height: 200px;
}

.new-year {
  font-family: 'Major Mono Display', monospace;
  color: #800000;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.year {
  display: none;
  position: relative;
  left: 50%;
  display: table;
  font-size: 6em;
  transform: translateX(-50%);
}

.year2 {
  display: none;
  transform: translateX(-50%) rotateX(180deg);
  opacity: 0.2;
}

.year1 {
  display: none;
}

.digit {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  position: relative;
  opacity: 0;
}

.controls {
  font-size: 50px;
}

.control {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Belleza';
  font-size: 0.8em;
  border-left: 1px solid #D79B62;
  opacity: 0;
  position: relative;
  top: 100px;
}

.control:first-child {
  border-left: none;
}

.triangles {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ccac00;
  position: absolute;
  opacity: 0;
}

.main-content {
  display: none;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.loading-text {
  font-size: 24px;
}

.button {
  margin-top: -20px;
  border: none;
  border-radius: 5px;
  color: #FFF;
  background-color: #ac4341;
  height: 40px;
  width: 200px;
  cursor: pointer;
  font-family: 'Belleza';

}