<!DOCTYPE html>
<html>

<head>
    <title>Larissa e Caio</title>
    <link rel="icon" href="../static/images/AllianceIcon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/gifts.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Belleza' rel='stylesheet'>
</head>

<body>

    <div class="loading-screen">
        <img src="../static/images/LoadingIcon.png" style="width: 160px;">
        <div class="loading-text">Carregando...</div>
    </div>

    <div class="main-content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="mx-auto p-3" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/invite">Confirmar Presença</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/gifts">Presentes<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="section" style="display: flex; flex-direction: column; align-items: center;">
            <h1 class="section-title-text">Presentes</h1>
            <p class="section-text" style="margin-right: 5%; margin-left: 5%;">Queridos amigos e familiares, estamos incrivelmente felizes por compartilhar este momento especial com todos vocês. Sua presença em nosso casamento é o maior presente que poderíamos pedir. Caso você esteja considerando nos presentear de outra forma, aqui abaixo, seguem as informações do pix. Na próxima seção, estão algumas sugestões de presentes. Essas sugestões são meramente ilustrativas uma vez que iremos nos mudar em breve e não será possível levarmos presentes físicos conosco.</p>
            <img src="../static/images/gifts/qrcode/Account.png" style="margin-top: 40px; width: 250px;">
            <p style="font-weight: bolder;">Nome: Caio Chaves Bezerra Rocha</p>
            <p style="font-weight: bolder;">Chave Aleatória Pix: 1936c090-08f4-4c29-b498-4f9a4627d07d</p>
            <p style="font-weight: bolder;">Não se esqueçam de adicionar uma mensagem especial ao transferir o valor do presente. Suas palavras significam muito para nós!</p>
        </div>

        <div class="content-gifts">
            <h1 class="section-title-text">Sugestões</h1>
            <div id="gifts">
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="../static/javascript/loading.js"></script>
    <script src="../static/javascript/gifts.js"></script>

</body>

</html>